html
{
    height: 100%;
}

body
{
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-size: 10px;
    display: block;
    color: #bbbbbb;
    background-color: #808087;
}

.container
{
    width: 1200px;
    padding: 1em;
    margin: 0 auto;
    background-color: #99999c;
}

header
{
    width: 1200px;
    font-size: 2.0em;
    padding: 0.5em;
    margin: 0 auto;
    height: 4em;
    text-align: center;
    background-color: #445;
    font-weight: 700;
    line-height: 4em;
    vertical-align: middle;
}
nav
{
    width: 1200px;
    font-size: 1.6em;
    padding: 0.6em;
    margin: 0 auto;
    background-color: #88888a;
    list-style-type: square;
}

a
{
    text-decoration: none;
}

a
{
    color: #404090;
    font-weight: 700;
}

a:hover
{
    color: #400090;
}

nav a
{
    padding: 0em;
    margin: 0.5em 5.0em 0.5em 5.0em;
    display: list-item;

}

h1
{
    font-size: 1.6em;
    padding: 0.5em;
    color: #444;
}

.prettyprint
{
    font-family: "Inconsolata", "Courier New", "Courier", monospace, sans-serif;
    color: #885910;
}

pre
{
    font-family: "Inconsolata", "Courier New", "Courier", monospace, sans-serif;
    padding: 1em;
}

.idiom
{
    font-size: 1.8em;
    color: #222;
    background-color: #bbbbb8;
    display: block;
    padding: 2em;
    margin: 2em;
}

