html
{
    height: 100%;
}

body
{
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-size: 10px;
    display: block;
    color: #bbbbbb;
    background-color: #ccc
}

.container
{
    width: 1000px;
    margin: 0 auto;
}

h1
{
    font-size: 2.0em;
    padding: 0.5em;
}

.prettyprint
{
    font-family: "Inconsolata", "Courier New", "Courier", monospace, sans-serif;
    color: #885910;
}

pre
{
    font-family: "Inconsolata", "Courier New", "Courier", monospace, sans-serif;
    padding: 1em;
}

.idiom
{
    border-color: #808080;
    border-width: 2px;
    font-size: 1.8em;
    color: #222;
    background-color: #aaa;
    width: 100%;
    display: inline-block;
    padding: 2em;
}

